@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-error {
  border: 1px solid red;
}

.error {
  color: #fff;
  padding: 1rem !important;
  background-color: red;
  width: 100%;
  margin: 0.5rem 0 !important;
}

.small-text {
  font-size: 10px;
}
